{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table style="width:100%;">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Buy Price</th>
            <th>Present Price</th>
            <th>Date</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["name"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["buy_price"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["transacted"] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}